<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Chat</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Chat</h1>
        <p>Por favor, converse como uma pessoa normal</p>
    </header>

    <div class="chat-container">
        <main>
            <div class="input-area">
                <input type="text" id="username" placeholder="Digite seu nome"> <br><br>
                <input type="text" id="msg" placeholder="Digite sua mensagem"><br><br>
                <button onclick="enviarMensagem()">Enviar</button>
            </div>

            <div id="chat" class="messages"></div>
        </main>
    </div>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        

var socket = io.connect("http://127.0.0.1:8000")

document.addEventListener("DOMContentLoaded", function(){
    let savedUsername = localStorage.getItem("username")

    if(savedUsername){
        document.getElementById("username").value = savedUsername
    }
})

socket.on("message", function(data){
    let chat = document.getElementById("chat")
    let p = document.createElement("p")
    p.innerHTML = `<strong>${data.username}: </strong> ${data.message}`

    chat.appendChild(p)
})

function enviarMensagem(){
    let username = document.getElementById("username").value
    let msg = document.getElementById("msg").value

    if(!username){
        alert("Digite o usuário")
        return
    }

    localStorage.setItem("username", username)

    if(msg){
        socket.emit("message", {username: username, message:msg})
        document.getElementById("msg").value = ""
    }
}
    </script>
</body>
</html>